
*.xcbkptlist

AlgoExpert.xcodeproj/project.xcworkspace/xcuserdata/benson.xcuserdatad/UserInterfaceState.xcuserstate

AlgoExpert.xcodeproj/xcuserdata/benson.xcuserdatad/xcschemes/xcschememanagement.plist

.vscode/

*.xcuserstate

*.pyc